.container {
    display: flex;
   justify-content: center;
   flex-direction: column;
.navbar{
    background: url('./foto.jpg');
    width: 100%;
    background-color: blueviolet;
    padding: 5rem; 
    height: 20px;
}
.section{
background-color: chartreuse;
display: flex;
justify-content: space-around;
flex-direction: row;
.card {
    background-color: yellow;
margin: 2rem;
width: 2px;
height: 2px;
}

}
.diki{
    border:  darkcyan;
    background-color: chocolate;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 3rem;
}

}